
      .assurance_cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 100%;
        margin-top: 5%;
      }

@media only screen and (max-width: 800px) and (orientation: portrait) {
  #assurance {
    #assurance_container {
      width: 80%;
      #parapluie {
        display: none;
      }
      #assurance_content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        h5 {
        }
        p {
        }
        .assurance_cards {
          display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
          img {
            margin-top: 10%;
            width: 20%;
          }
        }
      }
    }
  }
}
