.banner {
  width: 100%;
  height: 100vh;
  background-color: #1c3661;
  overflow: hidden;
  // border-bottom-left-radius: 100px;
  // border-bottom-right-radius: 100px;
  position: relative;
  .banner_img {
    position: absolute;
    width: 612px;
    bottom: 0;
    right: 0;
    margin-right: -5%;
    margin-bottom: -12%;
    transform: rotate(-30deg);
  }
  #banner_title_container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    #banner_text {
      width: 80%;
      ._logo {
        display: none;
      }
      #down_arrow {
        width: 4%;
        margin-bottom: 5%;
        transform: rotate(90deg);
        margin: 0;
        margin-top: 2%;
        animation : updown 2s infinite;
        cursor: pointer;
        &:hover {
          animation : none;
        }
        @keyframes updown {
          from {
            transform: rotate(90deg) translateX(0px);
          }
        
          to {
            transform:rotate(90deg) translateX(20px);
          }
        }
      }
      #banner_title {
        margin: 0;
        margin-top: 2vh;
        font-size: 20px;
        font-weight: 400;
        color: white;
      }
      #banner_buttons {
        width: 40%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  #banner_spacing {
    height: 5%;
  }
  #banner_menu {
    height: 25%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .banner_menu_card {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(211, 187, 140, 0.75);
      border-top: 2px solid rgba(211, 187, 140, 0.25);
      transition: all ease 0.3s;
      z-index: 1;
      .banner_menu_card_content {
        height: 100%;
        width: 65%;
      }
      &:hover {
        margin-top: 30px;
        background-color: rgba(211, 187, 140, 1);
        cursor: pointer;
        .banner_menu_card_content {
          h2 {
            color: #1c3661;
            border-bottom: 2px solid#1c3661;
            width: 25%;
          }
          p {
            color: #1c3661;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px)
//  and (orientation: portrait) 
 {
  .banner {
    width: 100%;
    height: auto;
    .banner_img {
      display: none;
    }
    #banner_title_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      #banner_text {
        margin-top: 20%;
        margin-bottom: 20%;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ._logo {
          display: block;
          width: 33%;
          margin-bottom: 5%;
        }
        #down_arrow {
          margin-top: 10%;
          width: 10%;
        }
        #banner_title {
          width: 80%;
          text-align: center;
        }
        #banner_buttons {
          width: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
    #banner_spacing {
    }
    #banner_menu {
      .banner_menu_card {
        .banner_menu_card_content {
        }
        &:hover {
          cursor: pointer;
          .banner_menu_card_content {
            h2 {
            }
          }
        }
      }
    }
  }
}