#bio {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/Img/Work.jpg);
  background-size: cover;
  #bio_content {
    display: grid;
    position: relative;
    grid-template-columns: 5fr  3fr;
    height: 75%;
    width: 65%;
    backdrop-filter: blur(60px);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px #1c366128;
    overflow: hidden;
    border-radius: 10px;
    z-index: 1;
    
    -webkit-box-shadow: 0px 9px 15px 2px rgba(48, 48, 48, 0.4);
    box-shadow: 0px 9px 15px 2px rgba(48, 48, 48, 0.4);
    #bio_content_text {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      height: 100%;
      width: 80%;
      margin-right: 10%;
      margin-left: 10%;
      grid-column: 1;
      h2 {
        color: #1c3661;
        border-bottom: none;
      }
      p {
        color: #1c3661;
        font-weight: 600;
      }
    }
    .bio_content_img {
      width: 100%;
      height: 100%;
      
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      backdrop-filter: blur(40px);
      color: #1c3661;
      grid-column: 2;
      grid-row: 1;
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
        width: 100%;
        border-left: 1px solid #1c366154;
        img {
          width: 70%;
          filter: drop-shadow(0 0 0.75rem #1c3661);
        }
        h1 {
          margin-bottom: 10px;
          
        }
        p {
          margin: 0;
          color: #1c3661;
        }
      }

    }
  }
}
@media only screen 
and (max-width:800px)
and (orientation : portrait) {
  #bio {
    height: auto;
    #bio_content {
      display: flex;
      width: 100%;
      flex-direction: column;
      height: auto;
      box-shadow: none;
      border-radius: 0px;
      #bio_content_text {
        height: auto;https://camille-sylla.netlify.app/
        h2 {
        }
        p {
        }
      }
      .bio_content_img {
        img {
          margin-top: 10%;
        }
        h1 {
        }
        p {
          margin-bottom: 10%;
        }
      }
    }
  }
}
