
    #fisc_content_text_icons {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        img {
            width: 50%;
        }
      }
    }

@media only screen and (max-width: 800px) and (orientation: portrait) {
  #fisc_content_text_icons {
    display: flex;
    flex-direction: column;
    .gold_arrow {
      margin-top: 10%;
      margin-bottom: 10%;
      transform: rotate(90deg);
    }
  }
}
