button {
    position: fixed;
    z-index: 15;
}
#nav{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    
    .the-blur{
        top:0;
        width: 100%;
        min-height: 100%;
        margin-bottom: 20px;
        background: rgba(0,0,0,.4);
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-backdrop-filter: blur(1.5rem);
        -moz-backdrop-filter: blur(1.5rem);
        -o-backdrop-filter: blur(1.5rem);
        -ms-backdrop-filter: blur(1.5rem);
        backdrop-filter: blur(1.5rem);
        transition: all ease 0.3s;
     }
}