#services_page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .banner_text_slogan {
        color: #1c3661;
        margin-bottom: 7vh;
    }
}