#services_page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 200;

  .page_title {
    color: #1c3661;
    margin-bottom: 7vh;
  }
}
@media only screen and (max-width: 900px)
//  and (orientation: portrait) 
 {
  #services_page {
    width: 100%;
    height: auto;
    #services_all {
      div {
        .layer_container {
          .layer_content {
            .assurance_cards {
              img {
                width: 30%;
              }
            }
          }
        }
      }
    }

    .page_title {
      margin-top: 20%;
      width: 100%;
      text-align: center;
    }
  }
}
