#sidebar {
  background-color: rgba(211, 187, 140, 1);
  opacity: 0;
  opacity: 1;
  width: 15%;
  height: 100vh;
  transition: all ease 0.5s;
  list-style: none;
  transition: all ease 0.3s;

  #sidebar_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    #sidebar_link {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      li {
        img {
          width: 20%;
        }
        display: flex;
          align-items: center;
          justify-content: center;
        margin-top: 15%;
        width: 100%;
        height: 75px;
        text-align: left;
        transition: all ease 0.6s;
        background-color: rgba(211, 187, 140, 1);
        border-radius: none;
        border-top: 3px solid transparent;
        border-bottom: 2px solid #1c3661;
        border-right: 3px solid transparent;
        a {
          width: 80%;
          color: #1c3661;
          text-decoration: none;
          font-weight: 700;
          font-size: 18px;
          margin-left: 10px;
          transition: all ease 0.3s;
          &:hover {
            text-decoration: underline;
          }
        }
        
      }
    }
    #side_logo {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10%;
      left: 0;
      right: 0;
      text-align: center;
      bottom: 0;
      width: 45%;
    }
  }
}

@media only screen and (max-width: 800px) and (orientation: portrait) {
  #sidebar {
    width: 100%;
  
    #sidebar_content {
      height: 100%;
      #sidebar_link {
        li {
          img {
            width: 10%;
          }
          a {
            font-size: 18px;
          }
        }
      }
      #side_logo {
        width: 17%;
      }
    }
  }
}
